# PostgreSQL
DB_HOST=your-db-host
DB_PORT=5432
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_DATABASE=your-db-name

# MinIO
STORAGE_ENDPOINT=minio.croffledev.kr
STORAGE_PORT=9000
STORAGE_USE_SSL=true
STORAGE_ACCESS_KEY=your-access-key
STORAGE_SECRET_KEY=your-secret-key
STORAGE_REGION=us-east-1       # any-value
STORAGE_PATH_STYLE=true

# AWS S3
# STORAGE_ENDPOINT=s3.amazonaws.com
# STORAGE_PORT=
# STORAGE_USE_SSL=true
# STORAGE_ACCESS_KEY=AKIA...
# STORAGE_SECRET_KEY=...
# STORAGE_REGION=ap-northeast-2
# STORAGE_PATH_STYLE=false

# Cloudflare R2
# STORAGE_ENDPOINT=<account-id>.r2.cloudflarestorage.com
# STORAGE_PORT=
# STORAGE_USE_SSL=true
# STORAGE_ACCESS_KEY=...
# STORAGE_SECRET_KEY=...
# STORAGE_REGION=auto
# STORAGE_PATH_STYLE=true